*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background:#565454;
    color: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    

}
 header img{
     width: 100px;
     margin-left: 46%;
     margin-top:  1%;
     border-radius: 100%;
 }
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;

}
h5{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #ffffff;

}
section{
    width: 70%;
    margin: 0 auto 0 auto;
}
article{
    padding: 40px 0 20px 0 ;
   
}
article h2{
    float: left;
    border-bottom: solid 2px #21abc5;
    padding-bottom: 5px;
    text-transform: uppercase;

}
article p , article u, article li{
    margin-left: 30%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3em;
    color: #817c7c;
    margin-bottom: 1.5em;
}